input {
  display: flex;
  height: 56px;
  width: 100%;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid var(--Border-2, #ccc);
}

label {
  color: #000;
  font-family: "Noir Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.56px;
}
input[type='checkbox'] {
  accent-color: black;
}
.inputBox {
  display: flex;
  align-items: center;
  position: relative;
}

.imageDiv {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
