.cartItem {
    display: flex;
    background-color: white;
    border: 1px solid #ddd;
    margin: 15px 15px;
    padding: 10px;
  }
  
  .productImage img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .productDetails {
    flex-grow: 1;
  }
  
  .productDetails h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .productDetails p {
    font-size: 14px;
    margin-bottom: 5px;
  }